* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    background-color: #F3F6FD;
    font-weight: 400;
}

/* NAVIGATION STYLES */

.app {
    display: flex;
}

.logo {
    margin-bottom: 50px;
}

.panel {
    background: white;
    min-height: 100vh;
    padding: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}

.menu__item {
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 10);
    border-radius: 14px;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menu__item:hover {
    background: #6A6AFB;
}

.menu__item:hover img{
    filter: brightness(0) invert(1);
}
.menu__item_active {
    background: #5051F9;
}

.menu__item_active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    background: none;
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menu__add:hover {
    background: #EFF2FF;
}

h1 {
    font-size: 30px;
    line-height: 33px;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    min-width: 900px;
    padding: 45px;
}



.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
}

.progress__name {
    font-size: 14px;
    line-height: 16px;
    color: #232360;
}

.progress__percent {
    font-size: 12px;
    line-height: 13px;
    color: #768376;
}

.progress__bar {
    background: #E6E9ED;
    border-radius: 4px;
    height: 5px;
    position: relative;
}

.progress__cover-bar {
    position: absolute;
    transition: all 1s;
    border-radius: 4px;
    height: 5px;
    background: #5051F9;
}

main {
    margin-top: 30px;
}

.habbit {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.habbit__day {
    background: #e6e6e9;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #E7EBFB;
    font-size: 14px;
    padding: 20px 40px;
    line-height: 16px;
    min-width: 150px;
}

.habbit__comment {
    font-size: 16px;
    line-height: 18px;
    padding: 20px 25px;
}

.habbit__delete {
    margin-left: auto;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;

}

.habbit__delete:hover {
    background: #EFF2FF
}

input {
    background: #FFFFFF;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    padding: 12px 20px;
    flex: 1;
    font-size: 14px;
    line-height: 16px;
}

input::placeholder {
    color: #8899;
}

.habbit__form {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 0px 10px 0px 25px;
    position: relative;
}

.input_icon {
    padding-left: 45px;
}

.input__icon {
    position: absolute;
    top: 10px;
    left: 45px;
}

.button {
    background: #EDECFE;
    border: none;
    border-radius: 9px;
    font-size: 13px;
    line-height: 14px;
    color: #5051F9;
    padding: 14px 30px;
    cursor: pointer;
}

.button:hover {
    background: #dcdaff;
}

